<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<%= link_to 'New Question', new_question_path %>

<table>
  <thead>
  </thead>

  <tbody>

    <% @questions.each do |question| %>

    <h3>
        <%= link_to question.description, question %>
    </h3>

    <h4>
        Submitted <%= time_ago_in_words(question.created_at) %>
        by <%= question.user.email %>
    </h4>

    </h5>
        <%= link_to "Upvote", upvote_question_path(question) %>
        <%= question.get_upvotes.size %>
        |
        <%= link_to "Downvote", downvote_question_path(question) %>
        <%= question.get_downvotes.size %>
        |
        <%= link_to 'Show', question %> |
        <%= link_to 'Edit', edit_question_path(question) %> |
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %> |
    </h5>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
