<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.description %></td>
        <td><%= question.user %></td>
        <td><%= question.topic %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

          <% @questions.each do |question| %>
        <h4><%= link_to question.description, question %><br>
          Submitted <%= time_ago_in_words(question.created_at) %>
          by <%= question.user.email %>
        </h4>

          <%= link_to @upvote, upvote_question_path do %>
        Upvote
        <%= question.get_upvotes.size %>
      <% end %>

      <%= link_to @downvote, downvote_question_path do %>
        Downvote
        <%= question.get_downvotes.size %>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
