<%= form_for(week) do |f| %>
     <% if week.errors.any? %>
          <div id="error_explanation">
               <h2><%= pluralize(week.errors.count, "error") %> prohibited this week from being saved:</h2>

               <ul>
                    <% week.errors.full_messages.each do |message| %>
                         <li><%= message %></li>
                    <% end %>
              </ul>
          </div>
     <% end %>

     <div class="field">
         <%= f.label :week_number %>
         <%= f.number_field :week_number, class: "form-control" %>
     </div>

     <div class="field">
         <%= f.label :term %>
         <%= f.number_field :term, class: "form-control" %>
     </div>
     <br>
     <div class="actions centered-btn">
          <%= f.submit%>
     </div>
<% end %>
