<p id="notice"><%= notice %></p>

<div class = "jumbotron jumbotron-welcome">
    <h1 class = "text-center text-white text-bold">Welcome to Dopey!</h1>
    <p class = "text-center text-white text-bold">Where want you to become
      really dope-y programmers!</p>
</div>

<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
              <% @weeks.each do |week| %>
                <div class="card-image">
                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/59/05/f4/5905f4b95a51ad49b9036f097e0cdc05.png">
                    <span class="card-title">Term <%= week.term %> - Week <%= week.week_number %></span>
                </div>

                <div class="card-content">
                    <p>The key topic's which you should know for this week are:</p>
                    <% @topics.each do |topic| %>
                      <h4><%= link_to topic.title, topic_path(topic.id) %></h4>
                    <% end %>
                </div>

                <div class="card-action">
                    <%= link_to 'Show', week %>
                    <%= link_to 'Edit', edit_week_path(week) %>
                    <%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%= link_to 'Create New Week', new_week_path %>
                    <!-- <#%= link_to 'New topic', new_topic_path %> -->
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<br>
<br>
