<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
  </div>
  <div class="card-block">
    <% @weeks.each do |week| %>
    <h4 class="card-title">This Week's Content</h4>
    <p class="card-text">Term: <%= week.term %> - Week: <%= week.week_number %> </p>
  </div>

  <div>
    <%= link_to('Show', week, class: 'btn btn-primary') %>
    <%= link_to 'Edit', edit_week_path(week), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', week, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Create New Week', new_week_path, class: 'btn btn-primary' %>

<br>
