<div class="container flex-container">
    <div class="form-login">
      <div class="light-well">
          <h2 class="page-header text-center">Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control"  %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <small class = "text-muted">(leave blank if you don't want to change it)</small><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
              <% if @minimum_password_length %>
                <small class = "text-muted"><%= @minimum_password_length %> characters minimum</small>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <small class = "text-muted">(we need your current password to confirm your changes)</small><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: "btn btn-danger btn-block" %>
            </div>
          <% end %>

          <!-- <h3 class="page-header text-center">Cancel my account</h3> -->

          <p class = "cancel-account text-center"><strong>Unhappy? </strong><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default btn-block" %></p>

          <p class = "handy-margin-bottom"><%= link_to "Back", :back, class: "text-muted" %></p>
     </div>
  </div>
</div>
