<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.commlabindia.com/wp-content/uploads/2016/05/elearning-for-product-training-questions-infographic.jpg">
                    <span class="card-title"><%= @topic.title %> Questions</span>
                </div>

                <div class="card-content">
                    <strong>Description: </strong> <%= @topic.description %>
                    <br>
                      <%= link_to 'Edit Topic', edit_topic_path(@topic) %>

                    <hr>

                    <div class="card-action">
                        <%= link_to 'New question', new_question_path %>
                    </div>


                    <h4>
                      <%= @questions.size %> questions asked!
                    </h4>

                    <br>

                        <% @questions.each do |question| %>

                        <h4>
                            Question: <%= link_to question.description, question %>
                        </h4>

                        <br>

                        <p><em>
                            Submitted <%= time_ago_in_words(question.created_at) %>
                            by <%= question.user.email %>
                        </em></p>

                        <p>
                            <%= link_to "Upvote", upvote_question_path(question) %>
                            <%= question.get_upvotes.size %>
                            |
                            <%= link_to "Downvote", downvote_question_path(question) %>
                            <%= question.get_downvotes.size %>
                            |
                            <%= link_to 'Show', question %>
                            |
                            <%= link_to 'Edit', edit_question_path(question) %>
                            |
                            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
                            |
                        </p>

                        <br>

                        <% end %>

                </div>

                <div class="card-action">
                    <%= link_to 'New question', new_question_path %>
                    <a href="#" target="new_blank">Back</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://dev.khuddam.ca/wp-content/uploads/2014/12/ms_crm_icon_1x.png">
                    <span class="card-title">Events</span>
                </div>

                <div class="card-content">
                    <p>
                      <h4><%= @events.size %> events!</h4>
                      <% @events.each do |event| %>

                      <br>

                        <h5>
                            Event: <%= link_to event.title, event %>
                        </h5>

                        <br>

                        <p><%= event.description %></p>

                        <p><em>
                            Submitted <%= time_ago_in_words(event.created_at) %>
                            by <%= event.user.email %>
                        </em></p>


                      <% end %>


                    </p>
                </div>

                <div class="card-action">
                    <%= link_to 'New Event', new_event_path %>
                    <a href="#" target="new_blank">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
