<p id="notice"><%= notice %></p>

<%= link_to 'New question', new_question_path %>

<p>
  <strong>Week:</strong>
  <%= @topic.week %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>



<% @questions.each do |question| %>
  <p><%= question.description %></p>
<% end %>