<p id="notice"><%= notice %></p>

<%= link_to 'New question', new_question_path %>
<%= link_to 'New Event', new_event_path %>

<p>
  <strong>Week:</strong>
  <%= @topic.week %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>


<h1>List of questions for this topic</h1>
<h2><%= @questions.size %> questions!</h2>
<% @questions.each do |question| %>
  <p><%= question.description %></p>
<% end %>


<h1>List of Events for this topic</h1>
<h2><%= @events.size %> events!</h2>
<% @events.each do |event| %>
  <p><%= event.description %></p>
<% end %>
