<div class="container flex-container">
    <div class="form-login">
      <div class="light-well">
          <h2 class="page-header text-center">Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                 <%= devise_error_messages! %>

                 <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true , class: "form-control" %>
                 </div>

                 <div class="actions">
                      <%= f.submit "Send me reset password instructions", class: "btn btn-danger btn-block reset-password" %>
                 </div>
          <% end %>
     </div>
  </div>
</div>
